<%= render 'shared/navbar' %>
<%= render 'shared/flashes' %>
<div class="container">
  <div class="pictures-display">
    <div class="picture-pool">
      <%= cl_image_tag @pool.picture%>
    </div>
     <div class="picture-pool">
      <%= cl_image_tag @pool.picture1 %>
    </div>
    <div class="picture-pool">
      <%= cl_image_tag @pool.picture2 %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
      <div class="col-sm-12 col-md-7">
        <div class="card-body bg-white mt-4">
          <h5 class="card-title"><%= @pool.name %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= @pool.address  %></h6>
          <h6 class="card-subtitle mb-2 text-muted">Capacité <%= @pool.capacity %> personnes</h6>
          <p class="card-text">
            <%= @pool.description %></p>
        </div>

          <div class="card-body bg-white">
            <h5 class="review-header">Commentaires</h5>
            <% @reviews.each do |review| %>
            <%= render 'shared/reviewcard', review: review%>
            <% end %>
          </div>

      </div>
      <div class="col-sm-12 col-md-5 text-justify">
        <div class="card-body">
          <div class="reservation">
            <%= render 'shared/formrental'%>
          </div>
        </div>
      </div>
  </div>
</div>


