<%= render 'shared/navbar' %>
<%= render 'shared/flashes' %>
<%= render 'shared/tabs', active: 2 %>

<div class="container dashboard-pool">
  <% @user_rentals.each do |rental| %>
  <div class="mes-piscines">
    <div class="cards-product-dash">
      <%= render 'shared/dashcards_rental', rental: rental %>
    </div>
    <div class="button-dash">
      <div class="button-resa">
        <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><%= link_to " Ajouter un commentaire", new_pool_review_path(rental.pool), class: "btn btn-light fas fa-plus"  %>
        </button>
      </div>
    </div>
  </div>
  <% end %>
</div>

