<%= render 'shared/navbar' %>
<%= render 'shared/flashes' %>
<%= render 'shared/tabs', active: 1 %>

<div class="container dashboard-pool">
  <% @user_pools.each do |pool| %>
    <div class="mes-piscines">
      <div class="cards-product-dash">
        <%= render 'shared/dashcards_pool', pool: pool %>
      </div>
      <div class="button-dash">
        <div class="button-d-s">
          <%= link_to '', edit_pool_path(pool), class: "btn btn-light fas fa-pencil-alt" %>
          <%= link_to '', pool, class: "btn btn-light far fa-trash-alt",  method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
        <div class="button-resa">
          <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#collapseExample-<%= pool.id %>" aria-expanded="false" aria-controls="collapseExample">
            Voir réservations
          </button>
        </div>
      </div>
    </div>
    <div class="collapse" id="collapseExample-<%= pool.id %>">
      <% array = pool.rentals %>
      <% if array.empty? %>
        <div>
          <p>Nothing yet</p>
        </div>
      <% else %>
        <% array.each do |rental| %>
          <div class="card card-body">
            <div class="avatar-rental">
              <%=cl_image_tag rental.user.avatar, width: 80, height: 80, crop: :thumb, class: "avatar-bordered-rental", alt: "avatar" %>
            </div>
            <div class="description-loueur">
              <p>Loueur : <%= rental.user.first_name %> <%= rental.user.last_name %></p>
            </div>
            <div class="location">
              <p>Du : <em><%= rental.date_arrivee %></em></p>
              <p>Au : <em><%= rental.date_depart %></em></p>
              <p>Nombre de personnes : <%= rental.user_number %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>






