<%= simple_form_for [@pool, @rental] do |f| %>
  <%= f.input :date, label: "Date"%>
  <%= f.input :comment, label: "Commentaire" %>
  <%= f.input :user_number, label: "Nombre de personnes" %>
  <div class="form-actions">
    <%= f.button :submit, "Demande de réservation", class: "log-in-btn" %>
   </div>
<% end %>

