<%= link_to pool_path(pool) do %>
<div class="card-pool">
<%= cl_image_tag pool.picture %>
  <div class="card-pool-infos">
    <div>
      <h2><%= pool.name %></h2>
      <p><%=pool.address%></p>
    </div>
    <h2 class="card-trip-pricing"><%=pool.price_per_day%>€/jour</h2>
    <img src="https://cdn4.iconfinder.com/data/icons/user-avatar-flat-icons/512/User_Avatar-04-512.png" class="card-pool-user avatar-bordered">
  </div>


</div>
<% end %>
