<%= link_to pool_path(pool) do %>
<div class="card-pool">
<%= cl_image_tag pool.picture %>
  <div class="card-pool-infos">
    <div>
      <h2><%= pool.name %></h2>
      <p><%=pool.address%></p>
    </div>
    <%= cl_image_tag pool.user.avatar, class: "card-pool-user avatar-bordered", alt: "avatar" %>
    <h2 class="card-trip-pricing"><%=pool.price_per_day%>€/jour</h2>
  </div>
</div>

<% end %>

